<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Factures</title>
</head>
<body>
     <div layout:fragment="content">
         <div class="container mt-3">
         <div class="card">
             <div class="card-header">Factures List</div>
             <div class="card-body">
                 <table class="table">
                     <tr>
                         <th>ID</th><th>Date</th><th>ID Client</th><th>Client</th>
                     </tr>
                     <tr th:each="s:${bills}">
                         <td th:text="${s.billingDate}"></td>
                         <td th:text="${s.customerID}"></td>
                         <td th:text="${s.getCustomer().name}"></td>
                     </tr>
                 </table>
             </div>
             </div>
         </div>
     </div>
</body>
</html>
